* {

}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
html,body{
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    padding-top: 50px;
    flex: 1 1 auto;
}
.container{
    min-width: 280px;
    margin: 0px auto;
    padding: 0px 5px;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #264653;*/
    background-color: #036666;
    z-index: 2;
}
.header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin: 0px 10px 0px 0px;
}
.header_burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
}
.header_burger:before,
.header_burger:after{
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.header_burger:before{
    top: 0;
}
.header_burger:after{
    bottom: 0;
}
.header_burger.active span{
    transform: scale(0);
}
.header_burger.active:before{
    transform: rotate(45deg);
    top: 9px;
}
.header_burger.active:after{
    transform: rotate(-45deg);
    bottom: 9px;
}

.header_menu.active{
    top: 0;
}
.header_body{
    position: relative;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    display: flex;
    align-items: center;
    flex: 0 0 50px;
    /*overflow: hidden;*/
    position: relative;
    left: 5px;
    z-index: 3;
}
.header_logo img{
    max-width: 100%;
    max-height: 50px;
}
.header_logo span{
    position: relative;
    font-size: 20px;
    color: #fff;
    left: 7px;
}
.header_menu{
    position: relative;
    right: 5px;
}
.header_list{
    display: block;
    position: relative;
    z-index: 2;
}
.header_list a{
    padding: 5px;
    border-radius: 100px;
}
.header_list a:hover{
    background-color: #3c5a66;
}
.header_list li{
    list-style: none;
    margin: 0px 0px 20px 0px;
}
.header_link{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}
.content{
    padding: 50px 0px 0px 0px;
}
.search_bar img{
    width: 100%;
}
.main_grid{
    padding: 0px 0px 10px 0px;
}
.content_grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    display: grid;
}
.city_grid_image {
    position: relative;
}
.city_grid_image img{
    width: 100%;
    height: 100%;
}
.city_name_image{
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 100%;
    color: white;
}
.footer{
    width: 100%;
    background: #036666;
    left: 0;
    bottom: 0;
}
.about_us{
    padding: 5px 0px 5px 0px;
}
.about_us p{
    color: white;
}
.text_center_footer{
    text-align: center;
    font-size: 12px;
}
.h2_main{
    font-size: 19px;
}
.place img{
    width: 100%;
}
@media (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
    .main{
        padding: 100px 0px 0px 0px;
    }
    .header_burger{
        display: none;
    }
    .header_body{
        display: flex;
        height: 80px;
        justify-content: space-between;
        align-items: center;
    }
    .header_menu{

     }
    .header_logo{
        display: flex;
        align-items: center;
        /*flex: 0 0 80px;*/
        /*overflow: hidden;*/
        position: relative;
        z-index: 3;
    }
    .header_logo img{
        max-width: 100%;
        max-height: 70px;
    }
    .header_list{
        display: flex;
        position: relative;
        z-index: 2;
    }
    .header_list li{
        margin: 0px 0px 0px 10px;
    }
    .header_list a{
        padding: 5px;
        border-radius: 100px;
    }
    .header_list a:hover{
        background-color: #3c5a66;
    }
    .content_grid{
        grid-template-columns: 1fr 1fr;
    }
    .content_grid {
        grid-column-gap: 10px;
        grid-row-gap: 50px;
        display: grid;
    }
    .h2_main {
        font-size: x-large;
    }
    .text_center_footer{
        font-size: 15px;
    }
}
@media (max-width: 767px){
    .header_menu{
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #18b5a4;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .search_bar{
        min-width: 100%;
        height: 130px;
        overflow: hidden;
    }
    .search_bar img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}
@media (min-width: 1024px) {
    .content_grid{
        display: grid;

        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}